@charset "UTF-8";

/* Fonte Principal - Open Sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
   /* Resetar modulos de espaçamentos*/
   margin: 0px;
   padding: 0px;
}

html {
   font-family: "Open Sans", sans-serif;
}

main.principal {
   width: 76%;
   margin: 2% 10%;
   padding: 2%;
   border: 2px solid darkgray;
   border-radius: 12px;
   box-shadow: 0px 0px 10px 2px darkgray;
}

h1.h1_principal {
   width: 100%;
   color: rgb(22, 138, 80);
   text-align: center;
   margin-bottom: 20px;
   font-size: 33px;
}

p.paragrafo {
   color: rgb(44, 44, 44);
   font-weight: 550;
   font-size: 16px;
   text-indent: 50px;
}


/* --------------------------- CARROSEL --------------------------- */
div.carousel-inner {
   border-radius: 10px;
   box-shadow: 0px 0px 5px 2px darkgray;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
   padding: 25px;
   border-radius: 10px;
}

span.carousel-control-prev-icon:hover,
span.carousel-control-next-icon:hover {
   background-color: rgba(15, 70, 87, 0.5);
}

div.carousel-caption>h5 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   margin-bottom: -10px;
   -webkit-text-stroke: 1px 2F4F4F;
   color: white;
   text-shadow: 2px 2px 2px rgb(0, 73, 37);
   /* #2F4F4F; */
}

div.carousel-caption>p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 22px;
   padding: 2% 0;
   margin-bottom: -10px;
   -webkit-text-stroke: 1px 2F4F4F;
   color: white;
   text-shadow: 2px 2px 2px rgb(0, 73, 37);
}

/* --------------------------- RESPONSIVIDADE --------------------------- */

@media(max-width: 550px) {

   main.principal {
      width: 90%;
      margin: 15px 5%;
      padding: 15px;
   }

   h1.h1_main {
      font-size: 25px;
   }

   legend.legend_1 {
      font-size: 12px;
   }

   h2.h2_main {
      font-size: 20px;
      margin: 0;
   }

   p.p_main {
      font-size: 12px;
   }

}